body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
}

canvas {
  touch-action: none;
}

.lcp-test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  color: #444;
}